<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="Simple runner" >
        <classes>
            <class name="qa.hospital.InvalidLogin"/>
            <class name="qa.hospital.ValidLogin"/>
            <class name="qa.hospital.MedicalRequest"/>
            <class name="qa.hospital.Logout"/>
        </classes>
    </test>
</suite>
